* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family:  'poppins', sans-serif;
    background-color: black;
    color: white;
}

h1 {
    width: fit-content;
    /* white-space: nowrap; */
    margin: auto;

}

button {
    background-color: rgb(35, 10, 53);
    font-size: 25px;
    border-radius: 10px;
    padding: 8px 12px;
    color: rgb(184, 105, 224);

    &:hover {
        cursor: pointer;
        border: 2px solid rgb(133, 24, 201);
    }

    &:active {
        transform: scale(0.9);
    }
}