

body {
    background-color: black;
}

.container {
    height: 80vh;
    width: 50vw;
    background-color: gray;
}

.box {
    height: 100px;
    margin-bottom: 10px;
    background-color: aquamarine;
    transition: all 1s ease-in-out
}

.box:nth-child(1) {
    background-color: lightgreen;
}

.box:nth-child(2) {
    background-color: lightsalmon;
}

.box:nth-child(3) {
    background-color: teal;
}
.box:nth-child(4) {
    background-color: lightpink;
}
.box:nth-child(5) {
    background-color: lightskyblue;
}

.box:first-child {
    background-color: turquoise;
}

.box:nth-child(1):hover {
    transform: scale(1.5, 0.5);
}

.box:nth-child(2):hover {
    transform: rotate(45deg);
}

.box:nth-child(3):hover {
    transform: translate(45vw, 45vw);
}

.box:nth-child(4):hover {
    transform: skewY(45deg)
}



button {
    margin: 30px;
    padding: 5px 8px;
    /* transition: property duration timing-function delay; */
    transition: all 0.5s ease-in 0s;
}

button:hover {
    background-color: cadetblue;
    color: white;
}

button:focus {
    background-color: tomato;
    font-size: 20px;
}

input {
    margin: 30px;
    display: block;
    outline: none;
}

input:focus {
    border: 2px solid red;
}

