* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family:  'poppins', sans-serif;
}

:root {
    --btn-color: orange;
}

div {
    height: 100px;
    width: 100px;
    background-color: crimson;
    background-color: var(--btn-color);
    border-radius: 9%;;
}


